.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.exit-button:hover {
    -fx-opacity: 0.6;
}

.loginButton:hover{
    -fx-opacity: 0.6;
}

.signupButton:hover {
    -fx-opacity: 0.6;
}

.adminCheckBox:hover {
    -fx-opacity: 0.6;
}

.dashboardItem:hover {
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.spinner .text-field {
    -fx-cursor: default;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-cursor: hand;
}

.addBookButton:hover {
    -fx-cursor: hand;
}

.header {
}